@layer base {
    :root {
        --primary: #57b3ad;
        --secondary: #348c6a;
        --tertiary: #51545c;
        --accent: #63dbad;
        --highlight: #66bd99;
        --background-primary: #2d2f33;
        --background-secondary: #1e1e21;
        --background-tertiary: #29302e;
        --background-accent: #40444a;
        --text-primary: #fafafa;
        --timeline-primary: #00FFFF;
        --timeline-secondary: #39FF14;
        --timeline-tertiary: #FF6EC7;
    }

    @media  (prefers-color-scheme: dark) {
        :root {
            --primary: #57b3ad;
            --secondary: #348c6a;
            --tertiary: #51545c;
            --accent: #63dbad;
            --highlight: #66bd99;
            --background-primary: #2d2f33;
            --background-secondary: #1e1e21;
            --background-tertiary: #29302e;
            --background-accent: #40444a;
            --text-primary: #fafafa;
            --timeline-primary: #00FFFF;
            --timeline-secondary: #39FF14;
            --timeline-tertiary: #FF6EC7
        }
    }

    :root[data-theme="dark"] {
        --primary: #57b3ad;
        --secondary: #348c6a;
        --tertiary: #51545c;
        --accent: #63dbad;
        --highlight: #66bd99;
        --background-primary: #2d2f33;
        --background-secondary: #1e1e21;
        --background-tertiary: #29302e;
        --background-accent: #40444a;
        --text-primary: #fafafa;
        --timeline-primary: #00FFFF;
        --timeline-secondary: #39FF14;
        --timeline-tertiary: #FF6EC7
    }

    :root[data-theme="light"] {
        --primary: #2d9cdb;
        --secondary: #3474db;
        --tertiary: #d9d9d9;
        --accent: #44c4c4;
        --highlight: #63eeee;
        --background-primary: #f0f0f0;
        --background-secondary: #e6e6e6;
        --background-tertiary: #dcdcdc;
        --background-accent: #cccccc;
        --text-primary: #1e1e1e;
        --timeline-primary: #00FFFF;
        --timeline-secondary: #39FF14;
        --timeline-tertiary: #FF6EC7
    }
}